*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    background: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.overall{
     background: whitesmoke;
     margin: 30px;
     padding: 20px;
     border-radius: 7px;
}
h1{
    text-align: center;
    color: green;
    font-size: 30px;
    padding: 20px;
    font-style: italic;
}
.question{
    margin-left: 10px;
    font-size: 20px;
    padding-bottom: 10px;
    
}

.container{
    display: flex;
    justify-content: space-between;
}
.leftButton{
 background: green;
 color: black;
 padding: 10px;
 margin-top: 12px;
 border-radius: 20px;
 cursor: pointer;
 border: none;
}
.rightButton{
background: green;
 color: black;
 padding: 15px;
 margin-top: 12px;
 border-radius: 20px;
 cursor: pointer;
 border: none;
}
.leftButton:hover,
.rightButton:hover{
    background-color: greenyellow;
    color: blue;
    transition-duration: 0.3s;
  transition: background-color 0.3s ease;

}
.inputLabel {
  display: block;
  
  padding-top: 5px;
  border-radius: 6px;
}
.inputLabel {
  transition: background-color 0.3s ease;
}